html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-y: auto;
  font-family: "Unbounded", sans-serif;
  color: #ffffff;
  background-color: #111111;
}

.introduction {
  min-height: 912px;
  background-image: url("../images/bg_main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro-content {
  width: 1250px;
  margin: 0 auto;
  padding-top: 48px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 134px;
  max-height: 134px;
  grid-template-rows: auto;
  align-items: stretch;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 432px;
  padding: 57px;
  border: 2px solid #ffffff;
  .logo {
    display: flex;
    align-items: center;
    gap: 4px;
    .name {
      font-weight: 600;
      font-size: 16px;
    }
  }
  .desc {
    max-width: 135px;
    font-weight: 500;
    font-size: 10px;
  }
}

.menu {
  display: grid;
  grid-template-rows: 1fr 1fr;

  .upper,
  .bottom {
    display: grid;
    width: 100%;
  }

  .upper {
    grid-template-columns: 20% 30% 20% 20% 10%;
  }

  .bottom {
    grid-template-columns: 36% 25% 16% 23%;
  }

  .bottom div {
    border-bottom: 2px solid currentColor;
  }

  .upper > div,
  .bottom > div {
    flex: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;

    box-sizing: border-box;

    font-size: 12px;
    font-weight: 500;
    font-family: "Inter";
  }
}

.year-section {
  min-height: 33px;
  width: 100%;
  margin-top: 223px;
  display: flex;
  align-items: center;
  gap: 25px;

  .year-text {
    width: 85px;
    height: 33px;
    font-weight: 200;
    font-size: 27px;
  }

  .desc {
    width: 82px;
    height: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
  }

  div {
    background: linear-gradient(
      90deg,
      #c6f1f7 0%,
      #f983e9 36%,
      #b877ff 74%,
      #c2e9cd 100%
    );
    background-clip: text;
    color: transparent;
  }
}

.influence-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 67px;

  .influence-icon {
    position: absolute;
    top: 487px;
    left: 391px;
  }

  .influence-text {
    background: linear-gradient(
      90deg,
      #c6f1f7 0%,
      #f983e9 36%,
      #b877ff 74%,
      #c2e9cd 100%
    );
    background-clip: text;
    color: transparent;

    width: 709px;
    height: 134px;
    font-weight: 300;
    font-size: 54px;
  }

  .believe-section {
    display: grid;
    gap: 13px;

    .believe-text {
      background: linear-gradient(
        90deg,
        #c6f1f7 0%,
        #f983e9 36%,
        #b877ff 74%,
        #c2e9cd 100%
      );
      background-clip: text;
      color: transparent;

      width: 216px;
      max-width: 216px;
      height: 85px;
      max-height: 85px;
      font-size: 14px;
      font-family: "Inter", sans-serif;
    }
  }
}

.footer-section {
  position: relative;
  margin-top: 82px;
  min-height: 192px;
}

.footer-section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.footer-content {
  position: relative;
  z-index: 1;

  min-height: 192px;

  display: flex;
  gap: 96px;
  justify-content: center;
  align-items: center;
}

.footer-menu-text {
  max-width: fit-content;
  background: linear-gradient(
    90deg,
    #c6f1f7 0%,
    #f983e9 36%,
    #b877ff 74%,
    #c2e9cd 100%
  );
  background-clip: text;
  color: transparent;

  font-weight: 400;
  font-size: 15px;
  margin-bottom: 23px;
}

.about {
  background-color: #111111;
  padding: 95px 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  align-items: center;
  width: 1250px;
  height: 467px;
  min-height: 467px;

  .big-text-wrapper {
    max-height: 134px;
    position: relative;
    align-self: flex-start;
    margin-bottom: 64px;
  }

  .ico-line {
    position: absolute;
    top: calc(100% + 15px);
  }

  .location-text {
    position: absolute;
    max-width: fit-content;
    left: 0;
    bottom: calc(100% + 39px);
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    background: linear-gradient(
      90deg,
      #c6f1f7 0%,
      #f983e9 36%,
      #b877ff 74%,
      #c2e9cd 100%
    );
    background-clip: text;
    color: transparent;
  }

  .big-text {
    font-size: 54px;
    font-weight: 300;
    max-width: 709.57px;

    background: linear-gradient(
      90deg,
      #c6f1f7 0%,
      #f983e9 36%,
      #b877ff 74%,
      #c2e9cd 100%
    );
    background-clip: text;
    color: transparent;
  }

  .icon {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .since-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 6px;
    right: 0;
    bottom: 0;
    width: 241.19px;
    min-width: 241.19px;
    height: 276px;
    min-width: none;
    height: 276px;
    background-color: #202020;

    .ball-wrapper {
      width: 216.17px;
      height: 211px;
    }

    .since-text {
      width: 67.05px;
      min-width: 67.05px;
      height: 34px;
      min-height: 34px;

      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;

      background: linear-gradient(
        90deg,
        #c6f1f7 0%,
        #f983e9 36%,
        #b877ff 74%,
        #c2e9cd 100%
      );
      background-clip: text;
      color: transparent;
    }
  }

  .team-text,
  .creative-text {
    max-width: 432.35px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 31px;
    color: #e4e4e4;
  }
}

.about-cards {
  width: 1249px;
  max-width: calc(100% - 48px);
  max-height: 576px;
  margin: 0 auto;
  margin-top: 157px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  aspect-ratio: 2 / 1;

  .card-item {
    position: relative;

    max-width: 276.22px;

    padding: 104px 300.78px 50.96px 48px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
  }

  .card-number {
    margin-bottom: 37.96px;
    font-weight: 300;
    font-size: 40px;
  }

  .card-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  .card-01 {
    background: url("../images/bg_about_01.jpg");
  }
  .card-02 {
    background: url("../images/bg_about_02.jpg");
  }
  .card-03 {
    background: url("../images/bg_about_03.jpg");
  }
  .card-04 {
    background: url("../images/bg_about_04.jpg");
  }
}

.expertise {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  background-color: #111111;

  .expertise-content {
    position: relative;
    margin-top: 70px;
    min-width: 1250px;
    min-height: 926px;
  }

  .big-text-wrapper {
    position: relative;
  }

  .big-text {
    position: relative;
    max-width: 780px;
    align-self: flex-start;
    font-weight: 300;
    font-size: 54px;
    background: linear-gradient(
      90deg,
      #c6f1f7 0%,
      #f983e9 36%,
      #b877ff 74%,
      #c2e9cd 100%
    );
    background-clip: text;
    color: transparent;
  }

  .location-text {
    width: 82px;
    position: absolute;
    top: calc(100% + 85px);

    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;

    background: linear-gradient(
      90deg,
      #c6f1f7 0%,
      #f983e9 36%,
      #b877ff 74%,
      #c2e9cd 100%
    );
    background-clip: text;
    color: transparent;
  }

  .logo {
    position: absolute;
    top: calc(100% + 595px);
  }

  .line-icon {
    position: absolute;
    bottom: 100%;
    right: 83px;
  }

  .main-text-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;

    .text {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #e4e4e4;
    }

    .upper-text {
      display: flex;
      gap: 109px;

      .left-text {
        max-width: 373px;
      }
      .right-text {
        max-width: 432px;
      }
    }
  }
}

.services {
  width: 100%;
  margin-top: 26px;

  border: 2px solid #e4e4e4;
  box-sizing: border-box;
}

.service-tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 143px;
}

.service-tab {
  border: 0;
  border-right: 2px solid #e4e4e4;

  background: transparent;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.service-tab:last-child {
  border-right: none;
}

.service-tab-text {
  font-family: "Unbounded", sans-serif;
  font-size: 30px;
  font-weight: 300;

  background: linear-gradient(
    90deg,
    #c6f1f7 0%,
    #f983e9 36%,
    #b877ff 74%,
    #c2e9cd 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  opacity: 0.3;

  transition: opacity 0.25s ease;
}

.service-tab.active .service-tab-text {
  opacity: 1;
}

.service-tab:last-child {
  border-right: none;
}

.service-content {
  position: relative;
  min-height: 230px;

  border-top: 2px solid #e4e4e4;

  display: flex;
  flex-direction: row;
  gap: 59px;

  padding-top: 98.29px;
  padding-left: 51px;
  padding-bottom: 55px;

  box-sizing: border-box;
}

.service-left {
  position: relative;
  max-width: 170px;
}

.service-right {
  max-width: 361px;
}

.bottom-text {
  max-width: 432px;
  margin-top: 21px;
}

.bottom-text,
.service-left,
.service-right {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #e4e4e4;
}

.service-left p,
.service-right p {
  margin: 0;
}

.balls {
  display: flex;
  align-items: center;
}

.ball {
  position: absolute;
  bottom: calc(100% + 21.71px);
}

.get-started {
  width: 100%;
  height: 624px;

  margin-top: 120px;
  padding-top: 84.21px;

  background: url("../images/bg_expertise.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .upper-section {
    position: relative;
    height: 475.46px;
    margin: 0 176px 0 96px;
  }

  .left-text {
    position: absolute;
    top: 0;

    max-width: 82px;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;

    background: linear-gradient(
      90deg,
      #c6f1f7 0%,
      #f983e9 36%,
      #b877ff 74%,
      #c2e9cd 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .right-text {
    display: flex;
    gap: 108px;

    position: absolute;
    top: 0;
    right: 78px;

    div {
      max-width: 82px;

      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .bottom-left-text {
    position: absolute;
    bottom: 0;
    left: 0;

    font-family: "Unbounded", sans-serif;
    font-size: 54px;
    font-weight: 300;

    background: linear-gradient(
      90deg,
      #c6f1f7 0%,
      #f983e9 36%,
      #b877ff 74%,
      #c2e9cd 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .bottom-left-text .line {
    position: absolute;

    top: -15px;
    right: 0;

    width: auto;
  }

  .bottom-right-text {
    position: absolute;
    bottom: 0;
    right: 0;

    max-width: 350px;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;

    background: linear-gradient(
      90deg,
      #c6f1f7 0%,
      #f983e9 36%,
      #b877ff 74%,
      #c2e9cd 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.bottom-section {
  width: 100%;
  min-height: 145px;

  display: grid;
  grid-template-columns: 230px 432px 432px;
  column-gap: 36px;

  padding-inline: 96px;
  padding-top: 97px;

  box-sizing: border-box;
}

.bottom-icon {
  display: flex;
  align-items: flex-start;
}

.bottom-icon img {
  width: auto;
  height: auto;
}

.bottom-section .left-text,
.bottom-section .right-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: #e4e4e4;
}

.bottom-section .left-text {
  max-width: 432px;
}

.bottom-section .right-text {
  max-width: 432px;
}

.projects {
  width: 100%;
  min-height: 700px;

  padding: 80px 0;

  background: #111111;
  box-sizing: border-box;
}

.projects-header {
  position: relative;

  width: 1250px;
  margin: 0 auto 40px;
}

.projects-header h2 {
  position: relative;

  width: fit-content;
  margin: 0;

  font-family: "Unbounded", sans-serif;
  font-size: 54px;
  font-weight: 300;

  background: linear-gradient(
    90deg,
    #c6f1f7 0%,
    #f983e9 36%,
    #b877ff 74%,
    #c2e9cd 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.projects-line {
  position: absolute;

  top: -10px;
  left: 370px;

  width: auto;
  height: auto;
}

.projects-slider {
  position: relative;

  width: 1218px;
  height: 382px;

  margin: 0 auto;

  overflow: hidden;
}

.projects-track {
  display: flex;

  width: max-content;
  height: 328px;

  transition: transform 0.5s ease;
}

.project-card {
  position: relative;

  width: 625px;
  height: 337px;

  flex-shrink: 0;

  padding: 37px 48px;

  box-sizing: border-box;

  background-size: cover;
  background-position: center;
}

.project-card:nth-child(1) {
  background-image: url("../images/bg_project_01.jpg");
}

.project-card:nth-child(2) {
  background-image: url("../images/bg_project_02.jpg");
}

.project-card:nth-child(3) {
  background-image: url("../images/bg_project_03.jpg");
}

.project-card:nth-child(4) {
  background-image: url("../images/bg_project_04.jpg");
}
.project-card:nth-child(5) {
  background-image: url("../images/bg_project_05.jpg");
}

.project-card:nth-child(6) {
  background-image: url("../images/bg_project_06.jpg");
}

.project-category {
  margin-bottom: 52px;

  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;

  color: #d9b9ed;
}

.project-card h3 {
  margin: 0 0 20px;

  font-family: "Unbounded", sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;

  color: #ffffff;
}

.project-card p {
  width: 300px;

  margin: 0;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;

  color: #e4e4e4;
}

.projects-controls {
  position: absolute;

  left: 50%;
  bottom: 0;

  transform: translateX(-50%);

  width: 220px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;

  background: #111111;
}

.projects-controls button {
  border: 0;
  cursor: pointer;
}

#project-prev,
#project-next {
  background: transparent;

  color: #d9d9d9;

  font-family: Arial, sans-serif;
  font-size: 38px;
  font-weight: 200;

  line-height: 1;

  width: 30px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.project-dot {
  width: 15px;
  height: 15px;

  padding: 0;
  border-radius: 50%;

  background: #e4e4e4;
}

.project-dot.active {
  background: #e28224;
}